<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" value="{{keyword}}"
            aria-label="Restaurant Name..." value="" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-12 mx-auto">
      <div class="card-group">
        {{#each restaurants}}
        <div class="col-md-4 col-sm-6 col-12">
          <!-- restaurants 資料庫的編號屬性為 _id -->
          <a href="/restaurants/{{this._id}}" class="text-secondary">
            <div class="card mb-3">
              <div>
                <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
              </div>
              <div class="card-body p-3">
                <h6 class="card-title mb-1">{{this.name}}</h6>

                <div class="restaurant-category mb-1">
                  <i class="fas fa-utensils pr-2"></i> {{this.category}}
                </div>

                <span class="badge badge-pill badge-danger font-weight-normal">
                  {{this.rating}}
                  <i class="fas fa-star fa-xs"></i>
                </span>

              </div>
              <div class="card-footer py-3">
                <div class="row justify-content-center">
                  <a class="btn btn-sm btn-info col-lg-3 col-10 my-1 mx-1"
                    href="/restaurants/{{this._id}}/edit">Edit</a>
                  <!-- restaurants 資料庫的編號屬性為 _id -->
                  <a class="btn btn-sm btn-info col-lg-3 col-10 my-1 mx-1" href="/restaurants/{{this._id}}">Detail</a>
                  <form class="col-lg-5 col-10 my-1 p-0">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-sm btn-danger col-12" data-toggle="modal" data-target="
                      #trigger-deleteItem-{{this._id}}">Delete</button>
                  </form>

                  <!-- Modal 優化使用者體驗，刪除餐廳-->
                  <div class="modal fade" id="trigger-deleteItem-{{this._id}}" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title text-primary">刪除警示</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p class="font-weight-light">請問您確定要刪除資料嗎?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                          <form action="/restaurants/{{this._id}}/delete?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-danger">刪除</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        {{/each}}
      </div>
    </div>
    </a>
  </div>
</div>
</div>
</div>