<h1 class="mb-2 restaurant-show-title">{{restaurant.name}}</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">

      <p class="mb-2">
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2"></i>
          類別：
        </span>
        {{restaurant.category}}
      </p>

      <p class="mb-2">
        <span class="text-secondary">
          <i class="fas fa-map-marker-alt pr-2"></i>
          地址：
        </span>
        {{restaurant.location}}
        <a href="https://goo.gl/maps/V9mKwVJ4s5v" class="text-secondary" target="_blank">
          <i class="fas fa-location-arrow pr-2 fa-xs" id="map"> 地圖 </i>
        </a>
      </p>

      <p class="mb-2">
        <span class="text-secondary">
          <i class="fas fa-mobile-alt pr-2"></i>
          電話：
        </span>
        {{restaurant.phone}}
      </p>

      <p class="mb-5">
        {{restaurant.description}}
      </p>

      <img class="photo rounded mx-auto d-block mb-5 w-100" src="{{restaurant.image}}" alt="{{restaurant.name}}"
        style="max-width: 800px;">
    </div>
  </div>
</div>